:root{
    --cor-fundo: #011a09 ;
    --cor-principal: #0b291d ;
    --cor-secundaria: #253a34; 
    --cor-destaque: #2bfdcf;
    --cor-texto: #d7ffee;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}